input {
    font-size: 3vw;
}
table {
    font-size: 3vw;
    border-collapse: collapse;
    color: rgba(55,55,55,1.0)
}

th {
    text-align: left;
    vertical-align: top;
}

td {
    text-align: right;
    padding-left: 1em;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

img {
    width: 10%;
    transform: translate(0%, 10%);
}
