body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
input {
    font-size: 1.2em;
}

.centered {
    position: fixed;
    left: 1.0em;
    right: 1.0em;
}

table {
    border-collapse: collapse;
    font-size: 1.2em;
    left: 10%;
    width: 80%;
    height: 80%;
    color: rgba(55,55,55,1.0)
}

th {
    text-align: left;
    vertical-align: top;
}

td {
    text-align: right;
    padding-left: 1em;
}

img {
    width: 10%;
    height: auto;
    transform: translate(0%, 10%);
}
